apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namePrefix: dev-
namespace: dev
resources:
  - ../../base
patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: gramnuri-web
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: gramnuri-web-ingress
images:
  - name: ghcr.io/igh9410/gramnuri-web
    newTag: "87b171b5c40ccfe52514c8b5edb0437c7c2e232d"
