apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: prod
resources:
  - ../../base
patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: gramnuri-web
  - path: httproute-patch.yaml
    target:
      kind: HTTPRoute
      name: gramnuri-web-httproute
images:
  - name: ghcr.io/igh9410/gramnuri-web
    newTag: "872a69e9bb40facbcd53c691e0c742735ce5fdea"
