apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: dev
resources:
  - ../../base
patches:
  - path: deployment-patch.yaml
    target:
      kind: Deployment
      name: gramnuri-api
  - path: ingress-patch.yaml
    target:
      kind: Ingress
      name: gramnuri-api-ingress
images:
  - name: ghcr.io/igh9410/gramnuri-api
    newTag: 12b27cbc54d166c48c8888035262c3d097aaa926
